<br/>
<div> Ceci Est La Page qui presente les infos sur notre equipe </div> 
<p> Bonjour je m'apelle Reuben Chouraki et vu que je suis un loser et aussi que je sais deja coder, cest moi qui est cree cette page tout seul! et donc je n'ai pas d'equipe j'espere que je ne vais pas perdre un joker a cause de cela </p>