<br/>

<h2> Infos Sur Le User </h2>
<div> Num email: <%= @user.email %> </div>
<div> Prenom et Nom:  <%=@user.first_name%> <%= @user.last_name %> </div>
<div> Description: <%=@user.description %> </div>